<div class="users-container">
  <table class="table">
    <thead>
      <tr>
        <th>邮箱</th>
        <th>注册时间</th>
        <th>最后登录时间</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
