<div class="login-logs-index-container">
  <table class="table">
    <thead>
      <tr>
        <th>登录用户</th>
        <th>登录时间</th>
        <th>登录 IP</th>
      </tr>
    </thead>
    <tbody>
      <%= render @login_logs %>
    </tbody>
  </table>
</div>
