<div class="home-container">
  <%= image_tag "welcome.png", class: "welcome-img" %>
  <div class="posts-container">
    <%= render partial: "home/post", collection: @posts, as: :post %>
  </div>
</div>
