<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @post.title %>
      <div class="pull-right">文章创建于：<%= @post.created_at %></div>
    </h3>
  </div>
  <div class="panel-body">
    <%= @post.content %>
  </div>
</div>
<%= render "posts/shared/links" %>
