.welcome-img {
  width: 100%;
}

.footer-container {
  margin-top: 50px;
}

.statistics-container {
  .split {
    color: #ccc;
    margin: 0 5px;
  }
}

.home-container {
  .posts-container {
    margin-top: 25px;
  }
}

.sessions-container {
  margin-top: 25px;
}
